.firstSection {
  margin-top: 3rem !important;
  max-width: 1000px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-top: 4em !important;
}

.InfoCard {
  background: #121212;
  border: 1px solid #242424;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1.2rem;
}

/* Section section */
.secondSection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.tabsContainer {
  overflow: hidden !important;
  width: 100% !important;
  border-radius: 8px !important;
  margin-bottom: 1.5rem;
}

/* Contained tabs */
.containedContent {
  max-width: 1000px;
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

/* Media queries */
@media (max-width: 960px) {
  .InfoCard {
    width: 48.5% !important;
  }
}

@media (max-width: 600px) {
  .tabUnit {
    font-size: 1.1rem !important;
    padding: 0.5em 1.2em !important;
  }

  .InfoCard {
    width: 100% !important;
  }
}
