/* Top columns */
.topColumns {
  background: #121212 !important;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.topColumns:last-child {
  border-right: 0 !important;
}

/* Rows */
.bottomRows {
  border-color: rgba(255, 255, 255, 0.1) !important;
  background: #1f1f1f !important;
  border-right: 1px solid;
  font-weight: 500;
}

/* Pagination */
.bottomPagination {
  background: #121212 !important;
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}

/* Custom tags */
.updateAlert {
  display: inline-block;
  color: #d53a35 !important;
  background: rgba(213, 58, 53, 0.1) !important;
  box-shadow: 0px 0px 4px rgba(213, 58, 53, 0.5) !important;
  font-weight: 600 !important;
  padding: 0.4em 0em;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.deadLineAlert {
  display: inline-block;
  color: #ffffff !important;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 0.7em 0 !important;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-weight: 400 !important;
}

.viewMoreBtn {
  color: rgba(0, 102, 255, 1) !important;
  background: rgba(0, 102, 255, 0.1) !important;
  font-size: 15px !important;
  border-radius: 8px;
  padding: 0.7em 0.7em !important;
  text-transform: none;
}
