/* Second section */
.secondSection {
  margin-top: -40px;
  width: 95%;
  max-width: 500px;
  padding: 1rem 1em;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.secondSection p a {
  color: var(--main-client-color) !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
}

/* Third section */
.thirdSection {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2rem;
}

.thirSectionItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em 2rem !important;
  border-bottom: 1px solid #242424 !important;
  width: 100% !important;
}

.thirSectionItem h6 {
  margin-bottom: 3px;
}

.thirSectionItem p {
  font-size: 1.1rem;
}

.thirSectionItem:last-child {
  border-bottom: 0 !important;
}

.walletsBtn {
  padding: 1em 2em;
  margin-right: 2em;
  background: #1f1f1f !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  text-transform: none;
  font-size: 0.9rem;
  color: white !important;
}

/* Media queries */
@media (max-width: 600px) {
  .walletsBtn {
    width: 100% !important;
    margin-bottom: 1.5em;
    margin-right: 0;
  }
}
