/* No data text */
.noDataText {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
}

/* Custom tooltip */
.CustomTooltip {
  border-radius: 0.5rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
