/* Title */
.titleContainer {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
  padding: 0.5rem 1rem;
}

.titleContainer h6 {
  display: inline-block;
  width: auto;
}

/* Content containers */
.contentContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  width: 100%;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.tableItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 1em 0;
  flex-wrap: wrap !important;
}

.tableItem:last-child {
  border-color: transparent !important;
  padding-bottom: 0 !important;
}

.tableItemLeftSide,
.tableItemRightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tableItemLeftSide {
  width: 30%;
}
.tableItemRightSide {
  width: 70%;
}

.tableItemLeftSide p {
  color: rgba(255, 255, 255, 0.85) !important;
}

.tableItemLeftSide span {
  color: var(--main-client-dark-color) !important;
  font-weight: 300 !important ;
  margin-left: 7px !important;
}

.tableItemRightSide {
  padding-left: 1rem;
}

.tableItemRightSide p {
  font-weight: 700;
  font-size: 16px !important;
}
/* Actions */
.actionsContainer {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  padding: 0.5rem 1rem;
}

.buttonActions {
  width: 45%;
}

.buttonActions {
  border-radius: 8px !important;
  text-transform: none !important;
  font-size: 16px !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
}

.explorerButton {
  border-radius: 8px !important;
  text-transform: none !important;
  font-size: 16px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 100% !important;
  max-width: 500px !important;
  font-weight: bold !important;
}

@media (min-width: 900px) {
  .buttonActions:last-child {
    width: 25% !important;
  }
}

@media (max-width: 600px) {
  /* Content */
  .tableItemLeftSide,
  .tableItemRightSide {
    width: 100% !important;
  }

  .tableItemLeftSide {
    margin-bottom: 0.7em !important;
  }

  .tableItemRightSide {
    padding-left: 0 !important;
  }

  /* Actions */
  .buttonActions:first-child {
    margin-top: 1em !important;
  }

  .buttonActions {
    width: 100% !important;
    margin-bottom: 1em !important;
  }
}
